/* Colors */

$text-color:#333333;
$disabled-text:#f4f4f4;
$label-text:#cccccc;
$inner-shadow:#b5b5b5;

$primary:#7b61ff;
$success:#5ee48c;
$error:#ff6161;


$black:#000000;
$white:#ffffff;
$grey:#e3e3e3;

/* Fonts */

$roboto: 'Roboto',
sans-serif;
$open-sans: 'Open Sans',
sans-serif;

